# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# ===============================
# VIRTUAL ENV
# ===============================
.venv/
venv/
env/

# ===============================
# ENV FILES (SECRETS)
# ===============================
.env

# ===============================
# GMAIL API SECRETS
# ===============================
gmail_api_secret/
token.json

# ===============================
# DATA FILES (LOCAL ONLY)
# ===============================
data/
!data/.gitkeep

# ===============================
# ARTIFACTS (ML GENERATED)
# ===============================
artifacts/
outputs/

# ===============================
# MLFLOW
# ===============================
mlruns/
mlartifacts/

# ===============================
# NOTEBOOK CHECKPOINTS
# ===============================
.ipynb_checkpoints/

# ===============================
# OS / EDITOR
# ===============================
.DS_Store
.vscode/
.idea/

# ===============================
# LOG FILES
# ===============================
*.log