version: "3.9"

services:
  gmail-pipeline:
    image: gmail-pipeline:latest
    container_name: gmail_pipeline
    build:
      context: ..
      dockerfile: docker/Dockerfile

    env_file:
      - ../.env

    environment:
      PIPELINE_MODE: ${PIPELINE_MODE:-incremental}
      MLFLOW_TRACKING_URI: http://mlflow:5000
      HF_HOME: /hf_cache

    volumes:
      - ../data:/app/data
      - ../artifacts:/app/artifacts
      - ../outputs:/app/outputs
      - ../hf_cache:/hf_cache
      - ../gmail_api_secret:/app/gmail_api_secret:ro

    depends_on:
      - mlflow

    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

    command: ["python", "-m", "src.pipelines.incremental_pipeline"]

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.11.1
    container_name: mlflow_server

    ports:
      - "5000:5000"

    volumes:
      - ../artifacts/mlflow:/mlflow

    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri /mlflow
      --default-artifact-root /mlflow/artifacts